# Python Bytecode & Caches
__pycache__/
*.py[cod]
*.class
.pytest_cache/
.mypy_cache/
.coverage

# Virtual Environments
.venv/
venv/
ENV/

# IDE & Editor Settings
.vscode/
.idea/

# Environment Secrets
.env
*.env

# Operating System Files
Thumbs.db
Desktop.ini
.DS_Store
