# =====================================================
# Python
# =====================================================

__pycache__/
*.py[cod]
*$py.class
*.pyo

# =====================================================
# Virtual Environment
# =====================================================

.venv/
venv/
env/

# =====================================================
# Environment Variables
# =====================================================

.env

# =====================================================
# Jupyter
# =====================================================

.ipynb_checkpoints/

# =====================================================
# VS Code / IDE
# =====================================================

.vscode/
.idea/

# =====================================================
# Operating System
# =====================================================

.DS_Store
Thumbs.db

# =====================================================
# Logs
# =====================================================

*.log
logs/

# =====================================================
# Python Build
# =====================================================

build/
dist/
*.egg-info/

# =====================================================
# Testing
# =====================================================

.pytest_cache/
.coverage
htmlcov/

# =====================================================
# Misc
# =====================================================

.cache/